.toggle-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  gap: 8px;
}

.toggle-disabled {
    opacity: 0.5;
}

.toggle {
  display: inline-block;
  background: #bbbbbb;
  border-radius: 16px;
  height: 24px;
  width: 40px;
  position: relative;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.22);
}
.toggle .handle {
  position: absolute;
  top: 3px;
  left: 4px;
  right: auto;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 50%;
  transition: all 0.1s linear;
}

.toggler {
  display: none;
}
.toggler:checked + .toggle {
  background: var(--primary-color);
}
.toggler:checked + .toggle .handle {
  left: 18px;
}
